In [2]:
import pandas as pd

In [2]:
#creating a dataframe
pd.DataFrame({"Yes": [50, 100], "No":[30,80]})

   Yes  No
0   50  30
1  100  80

In [3]:
pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]})

     Name  Age
0  Joshua   30
1   David   50
2    John   20

In [4]:
#assigning of indexes instead of using the default

pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])

     Name  Age
1  Joshua   30
2   David   50
3    John   20

In [5]:
#Series

pd.Series([2,5,3,7,5])

0    2
1    5
2    3
3    7
4    5
dtype: int64

In [8]:
pd.Series([2,5,3,7,5], index=["cows","cattles","dogs","cats","rabbit"] , name="Pet names")

cows       2
cattles    5
dogs       3
cats       7
rabbit     5
Name: Pet names, dtype: int64

In [11]:
pd.DataFrame({"Apples":[30], "Bananas":[20]})

   Apples  Bananas
0      30       20

In [15]:
pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"], name="Dinner")

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [16]:

testme=pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])
testme.to_csv("newfile.csv")

In [17]:
file_pth = "newfile.csv"
pd.read_csv(file_pth)

   Unnamed: 0    Name  Age
0           1  Joshua   30
1           2   David   50
2           3    John   20
3           4    Mary   60

In [3]:
file_path = "winemag-data_first150k.csv"
reviews = pd.read_csv(file_path)
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude