In [1]:
import pandas as pd

In [2]:
#creating a dataframe
pd.DataFrame({"Yes": [50, 100], "No":[30,80]})

   Yes  No
0   50  30
1  100  80

In [3]:
pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]})

     Name  Age
0  Joshua   30
1   David   50
2    John   20

In [4]:
#assigning of indexes instead of using the default

pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])

     Name  Age
1  Joshua   30
2   David   50
3    John   20

In [5]:
#Series

pd.Series([2,5,3,7,5])

0    2
1    5
2    3
3    7
4    5
dtype: int64

In [6]:
pd.Series([2,5,3,7,5], index=["cows","cattles","dogs","cats","rabbit"] , name="Pet names")

cows       2
cattles    5
dogs       3
cats       7
rabbit     5
Name: Pet names, dtype: int64

In [7]:
pd.DataFrame({"Apples":[30], "Bananas":[20]})

   Apples  Bananas
0      30       20

In [8]:
pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"], name="Dinner")

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [9]:

testme=pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])
testme.to_csv("newfile.csv")

In [10]:
file_pth = "newfile.csv"
pd.read_csv(file_pth)

   Unnamed: 0    Name  Age
0           1  Joshua   30
1           2   David   50
2           3    John   20

In [11]:
file_path = "winemag-data_first150k.csv"
reviews = pd.read_csv(file_path)
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [12]:
desc = reviews.description.iloc[0]
desc

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

In [13]:
type(desc)

str

In [14]:
sample_data = reviews.loc[[1,2,3,5,8]]

sample_data

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

In [15]:
df = reviews.loc[[1,2,3,5,8], ['country', 'province', 'region_1', 'region_2']]
df

  country        province            region_1           region_2
1   Spain  Northern Spain                Toro                NaN
2      US      California      Knights Valley             Sonoma
3      US          Oregon   Willamette Valley  Willamette Valley
5   Spain  Northern Spain                Toro                NaN
8      US          Oregon  Chehalem Mountains  Willamette Valley

In [16]:
oceania_wines = reviews[(reviews.points >= 95) & (reviews.country == 'Australia') | (reviews.country == 'New Zealand')]

oceania_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
25,25,New Zealand,"Yields were down in 2015, but intensity is up,...",Maté's Vineyard,94,57.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
305,305,New Zealand,"Yields were down in 2015, but intensity is up,...",Maté's Vineyard,94,57.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
1171,1171,New Zealand,"Usually the bigger, more opulent of the Kumeu ...",Coddington,93,46.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
1184,1184,New Zealand,Envoy is Spy Valley's top range of bottlings. ...,Envoy Johnson Vineyard,93,33.0,Marlborough,NaN,NaN,Sauvignon Blanc,Spy Valley
1185,1185,New Zealand,This wine shows a fine balance between sweetne...,Bannockburn,93,40.0,Central Otago,NaN,NaN,Riesling,Felton Road
...,...,...,...,...,...,...,...,...,...,...,...
150378,150378,New Zealand,"Impressive purple color, but less intense on t...",NaN,84,NaN,Martinborough,NaN,NaN,Syrah,Kusuda
150382,150382,New Zealand,"Features classic Marlborough aromas, marrying ...",NaN,84,16.0,Marlborough,NaN,NaN,Sauvignon Blanc,Saint Clair
150389,150389,New Zealand,Aromas of peach and pineapple give way to trop...,NaN,84,13.0,Marlborough,NaN,NaN,Sauvignon Blanc,Babich
150562,150562,Australia,"As unevolved as they are, the dense and multil...",Grange,96,185.0,South Australia,South Australia,NaN,Shiraz,Penfolds
150563,150563,Australia,"Seamless luxury from stem to stern, this ‘baby...",RWT,95,70.0,South Australia,Barossa Valley,NaN,Shiraz,Penfolds

In [17]:
reviews.points.describe()

count    150930.000000
mean         87.888418
std           3.222392
min          80.000000
25%          86.000000
50%          88.000000
75%          90.000000
max         100.000000
Name: points, dtype: float64

In [18]:
reviews.points.mean()

87.8884184721394

In [19]:
reviews.points.median()

88.0

In [21]:
reviews.rename(columns={'points': 'score'})

,Unnamed: 0,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder