In [3]:
import pandas as pd

In [4]:
#creating a dataframe
pd.DataFrame({"Yes": [50, 100], "No":[30,80]})

   Yes  No
0   50  30
1  100  80

In [5]:
pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]})

     Name  Age
0  Joshua   30
1   David   50
2    John   20

In [6]:
#assigning of indexes instead of using the default

pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])

     Name  Age
1  Joshua   30
2   David   50
3    John   20

In [7]:
#Series

pd.Series([2,5,3,7,5])

0    2
1    5
2    3
3    7
4    5
dtype: int64

In [8]:
pd.Series([2,5,3,7,5], index=["cows","cattles","dogs","cats","rabbit"] , name="Pet names")

cows       2
cattles    5
dogs       3
cats       7
rabbit     5
Name: Pet names, dtype: int64

In [9]:
pd.DataFrame({"Apples":[30], "Bananas":[20]})

   Apples  Bananas
0      30       20

In [10]:
pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index=["Flour", "Milk", "Eggs", "Spam"], name="Dinner")

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [11]:

testme=pd.DataFrame({"Name":["Joshua", "David","John"], "Age":[30,50,20]}, index=[1,2,3])
testme.to_csv("newfile.csv")

In [12]:
file_pth = "newfile.csv"
pd.read_csv(file_pth)

   Unnamed: 0    Name  Age
0           1  Joshua   30
1           2   David   50
2           3    John   20

In [13]:
file_path = "winemag-data_first150k.csv"
reviews = pd.read_csv(file_path)
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [14]:
desc = reviews.description.iloc[0]
desc

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

In [16]:
type(desc)

str

In [18]:
sample_data = reviews.loc[[1,2,3,5,8]]

sample_data

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

In [20]:
df = reviews.loc[[1,2,3,5,8], ['country', 'province', 'region_1', 'region_2']]
df

  country        province            region_1           region_2
1   Spain  Northern Spain                Toro                NaN
2      US      California      Knights Valley             Sonoma
3      US          Oregon   Willamette Valley  Willamette Valley
5   Spain  Northern Spain                Toro                NaN
8      US          Oregon  Chehalem Mountains  Willamette Valley